body {
    background-color: beige;
    height: 20px;
}


#taf {
    color: gray;
    position: absolute;
    top: 30px;
    left: 750px;
    font-size: 28px;
}
#light-box__template{
    position: absolute;
    top: 90px;
    left: 1020px;

    overflow:hidden;
    -webkit-border-radius:80px;
    -moz-border-radius:60px;
    border-radius:310px;
    width:180px;
    height: 178px;
}

#lge {
    width: 800px;
    margin-top: 50px;
    margin-right: 5px;
    float:right;
     background-color: rgba(194, 191, 182,0.4);
     padding: 30px;
     border-radius: 50px;

}


#icon {
   display: flex 0 0 20%;
   margin-bottom: 10px;
   width: 30px;
}


.profile {
text-indent: 85px;
padding: 1px;
margin: 10px auto 32px auto;
color: #fff;

margin-top: -1150px;

width: 1899px;

 }
 header li {
     list-style-type: none;
     top: 300px;
     font-size: 25px;
     margin-left: 20px;
 }


header h1 {
    position: absolute;
    top: -10px;
    left: 825px;
 }
  
 .tableau  {
    width: 800px;
   margin-top: 120px;
   margin-right: 5px;
   float:right;
    background-color: rgba(194, 191, 182,0.4);
    padding: 30px;
    border-radius: 50px;
    }
.tableau p {
    font-size: 32px;
    margin-top: -12px;
    margin-bottom: 12px;
}



#info{
font-size: 40px;
line-height: 2;
}

.sql li{
    font-size: 27px;
    margin-top: 14px;

}

#light-box__template {
    position: center;
    margin-left: -160px;
}

.wrapper {
    width: 800px;
    margin: 30px;
    margin-top: 50px;
    font-size: 10px;
    
}
.wrapper h1 {
    text-align: center;
    text-transform: uppercase;
    margin-top: 40px;
    text-decoration: underline;
}
.wrapper h2 {
    text-align: left;
    text-decoration: underline;
    margin-top: 30px;
}   
.line {
    height: 25px;
    min-width: 800px;
    margin: 0 auto 10 px;
    line-height: 25px;
    font-size: 14px;
    color: #fff;
    padding: 0 0 0 10px;
    position: relative;
}
.line:before{
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    height: 25px;
    top: 0;
    z-index: -2;
    background: rgb(212, 212, 196);
}
.line:after{
    content: '';
    background: #333;
    height: 25px;
    transition: 0.8s;
    display: block;
    width: 100%;
    animation: animate 1 4s;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.line1:after{
    max-width: 90%;
    background: green;
}
.line2:after{
    max-width: 30%;
    background: chocolate;
}
.line3:after{
    max-width: 40%;
    background: darkgoldenrod;
}
.line4:after{
    max-width: 60%;
    background: orange
}
.line5:after{
    max-width: 80%;
    background: rgb(15, 134, 15);
}
@keyframes animate {
    0%{
        width: 0;
    }
    100%{
        width: 100%;
    }
}
hr {
    margin-top: -400px;
    color: whitesmoke;
}
#centre1 {
    position: absolute;
    overflow:hidden;
    -webkit-border-radius:80px;
    -moz-border-radius:60px;
    border-radius:310px;
    width:180px;
    height: 178px;
    margin-left: 310px;
}
#centre2 {
    position: absolute;
    overflow:hidden;
    -webkit-border-radius:80px;
    -moz-border-radius:60px;
    border-radius:310px;
    width:180px;
    height: 178px;
    margin-left: 100px;
}
#centre3 {
    position: absolute;
    overflow:hidden;
    -webkit-border-radius:80px;
    -moz-border-radius:60px;
    border-radius:310px;
    width:180px;
    height: 178px;
    margin-left: 550px;
}



body {
    margin:0; 
    margin-top:16px;
    height:150vh; 
    position:relative; 
  }

   * {
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
    margin: 0;
    padding: 0;
  }
  ul {
    list-style: none;
    padding-left: 0;
  }
  footer {
    background-color: #000;
    color: #bbb;
    line-height: 1.5;
    margin-top: 500px;
  }
  footer a {
    text-decoration: none;
    color: #eee;
  }
  a:hover {
    text-decoration: underline;
  }
  .ft-title {
    color: #fff;
    font-family: "Merriweather", serif;
    font-size: 1.375rem;
    padding-bottom: 0.625rem;
  }


  .container {
    flex: 1;
  }
  /* Footer main */
  .ft-main {
    padding: 1.25rem 1.875rem;
    display: flex;
    flex-wrap: wrap;
  }
  @media only screen and (min-width: 29.8125rem ) {
    .ft-main {
      justify-content: space-evenly;
    }
  }
  @media only screen and (min-width: 77.5rem ) {
    .ft-main {
      justify-content: space-evenly;
    }
  }
  .ft-main-item {
    padding: 1.25rem;
    min-width: 12.5rem;
  }
  
  form {
    display: flex;
    flex-wrap: wrap;
  }
  input[type="email"] {
    border: 0;
    padding: 0.625rem;
    margin-top: 0.3125rem;
  }
  input[type="submit"] {
    background-color: #00d188;
    color: #fff;
    cursor: pointer;
    border: 0;
    padding: 0.625rem 0.9375rem;
    margin-top: 0.3125rem;
  }
 
  .ft-social {
    padding: 0 1.875rem 1.25rem;
  }
  .ft-social-list {
    display: flex;
    justify-content: center;
    border-top: 1px #777 solid;
    padding-top: 1.25rem;
  }
  .ft-social-list li {
    margin: 0.5rem;
    font-size: 1.25rem;
  }
 
  .ft-legal {
      padding: 0.9375rem 1.875rem;
      background-color: #f7f7f7;
    color: black;
    margin-top: 130px;
  }
  
  .ft-legal a {
    color: black;
  }
  
  .ft-legal-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .ft-legal-list li {
    margin: 0.125rem 0.625rem;
    white-space: nowrap;
  }

  .ft-legal-list li:nth-last-child(2) {
      flex: 1;
  }

  